@model pin_projekt.Models.Tablica_igraca

@{
    ViewData["Title"] = "Edit";
}

<h2>Uredi košarkaša</h2>

<h4>Tablica_igraca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="@Model.ID" />
            <div class="form-group">
                <label asp-for="ime" class="control-label"></label>
                <input asp-for="ime" class="form-control" />
                <span asp-validation-for="ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prezime" class="control-label"></label>
                <input asp-for="prezime" class="form-control" />
                <span asp-validation-for="prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pozicija" class="control-label"></label>
                <input asp-for="pozicija" class="form-control" />
                <span asp-validation-for="pozicija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="klub" class="control-label"></label>
                <input asp-for="klub" class="form-control" />
                <span asp-validation-for="klub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Snimi" class="btn btn-default" />
                <a class="btn btn-outline-primary btn-sm" asp-controller="Tablica_igracas" asp-action="Index" onclick="history.go(-1); return false;">Vrati na listu</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Povratak na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
