@{
    ViewData["Title"] = "O nama";
}


<h3>@ViewData["Message"]</h3>
<br />
<br />
<p>Pretražujemo koliko fanovi poznaju košarkaše po klubu i pozicijama.</p><br />
<p>Te mogu otkriti nešto više (detaljnije) o pojedinom igraču.</p>
<h3>Naša misija</h3><br>
<p><b>Učiniti web aplikaciju što više pristupačnijom. </b></p>